.cardsWrapper {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  border: 1px solid black;
  height: 32rem;
  width: 20rem;
  margin: 2rem;
  text-align: center;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 30.2rem;
}
