.navBar {
  list-style: none;
  display: flex;
  padding: 1.5rem;
}

.navBar li {
  font-weight: bold;
  font-size: 150%;
  margin-right: 2rem;
  text-decoration: none;
}

.navItem {
  color: black;
}

.navItem:visited {
  color: black;
}

.navBar li:hover {
  cursor: pointer;
}
